
.content-area {
	margin: auto;
	max-width: $size__site-main;
}

.site-main {

}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}
.site-header {
	min-height: 90%;

	background-color: $color_header_background;
	background-size: cover !important;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
}
div.secondary-header {
	height: 80px;
	width: 100%;
	background-size: cover !important;
	background-position: fixed;
	background-repeat: no-repeat;
	position: fixed;
	top: 0px;
}
div.secondary-overlay {
	width: 100%;
	background: rgba(11,71,107,0.7);
}
div.secondary-header-wrapper {
	max-width: 1100px;
	margin: auto;
	height: 80px;

}
div.secondary-bird {
	width: 130px;
	height: 80px;
	padding-top: 10px;
	background-size: contain !important;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
h1.secondary-name {
	color: white;
	width: 200px;
	height: auto;
	font-size: 20px;
}
nav.secondary-navigation {
	display: inline-block;
	float: right;
	
	@media (max-width:700px) {
	background-color: #142837;
	display: none;
	position: fixed;
	width: 100%;

	}
		ul {
		width: 100%;
		list-style: none;
		margin: auto;
		padding-left: 0px;

			li.page_item {
			display: inline-block;
			height: 80px;
			border: 0px;
			
			@media (max-width:700px) {
			border-bottom: 1px solid #393B4D;
			display: block;
			line-height: 50px;
			text-align: center;
			height: 50px;
			}
			}
			a {
				line-height: 80px;
				color: white;
				text-decoration: none;
				font-weight: bold;
				border-radius: 5px;
				&:hover {
				color: #b7b7b7 !important;
				background-color: transparent !important;
				@media (max-width:700px) {
				line-height: 50px;
				}
				}
			}
		}		
}
div.toggle-secondary-menu {
	display: inline-block;
	float: right;
	width: 50px;
	height: 50px;
	padding-top: 20px;
	padding-right: 10px;
	@media (min-width:700px) {
	display: none;
	}
}
a#pull {
  display: none;
  @media (max-width: 700px){
    display: block;
  }
}
div.overlay {
	background: rgba(11,71,107,0.7);
	min-height: 90%;
	padding-top: 100px;
	padding-bottom: 100px;
	-webkit-transition: all 1s;
	transition: all 1s;
	@media (max-width:850px) { /* Overlay Div Breakpoint  */
	padding: 20px 0px;
	}
	vertical-height: 80px;
	div.social-top {
		padding: 25px 0px;
		width: 300px;
		height: 100px;
		@media (max-width:850px) { /* Overlay Social Div  */
			height: 50px;
			padding: 15px 0px;
			}
		vertical-align: middle;
		margin: auto;
			ul {
			height: 100px;
			@media (max-width:850px) { /* UL Breakpoint  */
			height: 50px;
			}
			margin-left: 0px;
			padding-left: 0px;
			}
			ul:after {
				content:'';
				clear: both;
			}
			li {
				display: inline-block;
				float: right;
				padding: 0px 10px;
			}
			img {
				width: 50px;
			}
			img{
			width: 30px;
			}
	}
}
div.bird {
	margin: auto;
	position: relative;
	z-index: 300;
	width: 70%;
	max-width: 400px;
	@media (max-width: 850px) { /* Bird Scale Breakpoint  */
		max-width: 200px;
		margin-bottom: -55px;
		}
	margin-bottom: -65px;
	img {
		width: 100%;
		@media (max-width: 850px) { /* Bird Scale Breakpoint  */
		max-width: 200px;
		}
	}
}
div.logo {
	position: relative;
	z-index: 200;
	width: 150px;
	height: 75px;
	@media (max-width: 850px) { /* Bird Scale Breakpoint  */
		width: 100px;
		height: 50px;
		margin-bottom: -50px;
		}
	margin: auto;
	margin-bottom: -75px;
	border-radius: 0px 0px 200px 200px;
	background-color: #2d5370;
	border-color: #2d5370;
	img {
		margin-top: -50px;
		width: 400px;
	}
}
div.intro-overlay {
	position: relative;
	z-index: 100;
	background: rgba(0,0,0,0.4);
	padding-bottom: 1em;
	width: 80%;
	@media (max-width: 850px) { /* Bird Scale Breakpoint  */
		width: 98%;
		}
	margin: auto;
	vertical-align: middle;
}
div.entry-content {
	img {
	width: 100%;
	color: $color__text-3;
	}
	p {
	color: $color__text-4;
	font-size: 20px;
	font-weight: 400;
	}
}
h1.entry-title {
	font-size: 4.7em;
	font-weight: bold;
	letter-spacing: -.05em;
	margin: 0 0 .3em;
	line-height: 1.1em;
	text-align: center;
}
h2.entry-title {
	font-size: 2.7em;
	font-weight: 900;
	letter-spacing: -.05em;
	margin: 0 0 .3em;
	line-height: 1.1em;
	padding-top: 50px;
}
div.featured-image {
	height: 200px;
	width: 70%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-reapeat;
	box-shadow: 5px 5px 6px #C0C0C0;
	padding-right: 0px;
}
div.post_featured_image img{
	box-shadow: 5px 5px 6px #C0C0C0;
	padding-right: 0px;
}
div.entry-meta {
	text-align: center;
	font-size: 20px !important;
	padding-bottom: 15px;
	a {
	text-decoration: none;
	color: black;
	}
	img {
	width: 40px;
	border-radius: 50%;
	vertical-align: middle;
	margin: 5px 5px;
	}
}
span.posted-on {
		color: black;
		font-style: italic;
}
.left {
	text-align: left !important;
}
span.capital {
	font-size: 20px !important;
	text-transform: uppercase;
}
.entry-content h1 {
	font-size: 4.2em;
	letter-spacing: -.035em;
	line-height: 1.14em;
	font-weight: 400;
}
.entry-content h2 {
	font-size: 3em;
	letter-spacing: -.055em;
	line-height: 1.35em;
	font-weight: 400;
}
.entry-content h3 {
	font-size: 1.65em;
	letter-spacing: .03em;
	line-height: 1.3em;
	font-weight: 400;
	maring-bottom: 1em;
}
.entry-content h4 {
	font-size: 1.25em;
	letter-spacing: .02em;
	line-height: 1.14em;
	font-weight: 400;
}
.entry-content h5 {
	font-size: 1em;
	letter-spacing: .02em;
	line-height: 1em;
	font-weight: 400;
}
.entry-content h6 {
	font-size: .75em;
	letter-spacing: .02em;
	line-height: .75em;
	font-weight: 400;
}
article.post-2col div.entry-content {
	-webkit-column-count: 1; 
	-moz-column-count: 1; 
	column-count: 1;
	@media (max-width: 600px) {
		-webkit-column-count: 1; 
	-moz-column-count: 1; 
	column-count: 1;
	}
}
table, tbody, tr, td {
	border: 1px solid black;
}
tbody {
	tr:nth-child(odd) {
	background-color: #eee;
	}
	tr:nth-child(even) {
	background-color: #fff;
	}
}
#grid[data-columns]::before {
	content: '3 .column.size-1of3';
	@media screen and (max-width: 500px) {
	content: '1 .column.size-1of1';
	}
	@media screen and (min-width: 501px) and (max-width: 800px) {
	content: '2 .column.size-1of2';
	}
	@media screen and (min-width: 801px) {
	content: '3 .column.size-1of3';
	}
}
#grid {
	background: red;
}
div.grid-title a {
	font-family: $font_skinny;
	font-style: none;
	color: black;
}

/* These are the classes that are going to be applied: */
div.column div {
	padding: 5px;
}
.column {
	float: left;
	padding-bottom: 25px;
}
.size-1of3 {
	width: 33.333%;
}
.size-1of2 { 
	width: 50%;
}
.size-1of1 {
	width: 100%;
}

div.about-container {
	
	img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
}
}
div.main-wrapper {
	max-width: 80%;
	margin: auto;
	max-width: 1100px;
	width: 100%;

}
div.testimonials p {
		font-size: $font_test;
		&::before {
	  	content: "\201C";
		}
		&::after {
	  	content: "\201D";
		}
}
div.testimonial-author {
	text-align: right;
	&::before { content: '—'; }
}
div.cat-links a, div.comments-link a, div.edit-link a {
	font-family: $font_skinny;
	font-style: none;
	color: black;
}
body.search-results h1 {
	font-size: 22px;
}
body.search-results h2.entry-title {
	font-size: 22px;
	text-align: left;
}
div.centered {
	max-width: $size__centered;
	margin: auto;
}
div.portfolio-container {
	background-color: $color_alternate_background;
}
div.section-container {
	padding: 25px 0px;
}
div.nav-previous::before {
	content: '< PREVIOUS';
	font-family: 'Quicksand', sans-serif;
    font-size: 0.5em;
    display: block;
    letter-spacing: .076em;
    padding-bottom: .75em;
    padding-left: .2em;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}
div.nav-next::after {
	content: 'NEXT >';
	font-family: 'Quicksand', sans-serif;
    font-size: 0.5em;
    display: block;
    letter-spacing: .076em;
    padding-bottom: .75em;
    padding-left: .2em;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}
p.form-submit #submit {
	font-family: $font_skinny;
    font-size: 1em;
    letter-spacing: .04em;
    background: #000;
    color: #fff;
    border: none;
    padding: .5em 1em;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0px;
}
p.logged-in-as {
	float: right;
}
p.comment-form-comment {
	align: left;
	clear: all;
}
@media (max-width:600px) {
	
}