.content-area {
	margin: auto;
	max-width: $size__site-main;
}

.site-main {

}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}
.site-header {
	background-color: $color_header_background;
}
div.entry-content {
	text-align: center;
	img {
	width: 100%;
	color: $color__text-3;
	}
	p {
	color: $color__text-4;
	}
}
h2.entry-title {
	font-size: 4.7em;
	font-weight: normal;
	letter-spacing: -.05em;
	margin: 0 0 .3em;
	line-height: 1.1em;
}
div.entry-meta {
	text-align: center;
	a {
	text-decoration: none;
	color: black;
	}
	img {
	border-radius: 50%;
	vertical-align: middle;
	}
}
span.posted-on {
		color: black;
		font-style: italic;
}
.left {
	text-align: left !important;
}
span.capital {
	text-transform: capitalize;
}
.entry-content h1 {
	font-size: 4.2em;
	letter-spacing: -.035em;
	line-height: 1.14em;
	font-weight: 400;
}
.entry-content h2 {
	font-size: 3em;
	letter-spacing: -.055em;
	line-height: 1.35em;
	font-weight: 400;
}
.entry-content h3 {
	font-size: 1.65em;
	letter-spacing: .03em;
	line-height: 1.3em;
	font-weight: 400;
	maring-bottom: 1em;
}
.entry-content h4 {
	font-size: 1.25em;
	letter-spacing: .02em;
	line-height: 1.14em;
	font-weight: 400;
}
.entry-content h5 {
	font-size: 1em;
	letter-spacing: .02em;
	line-height: 1em;
	font-weight: 400;
}
.entry-content h6 {
	font-size: .75em;
	letter-spacing: .02em;
	line-height: .75em;
	font-weight: 400;
}
article.post-2col div.entry-content {
	-webkit-column-count: 2; 
	-moz-column-count: 2; 
	column-count: 2;
	@media (max-width: 600px) {
		-webkit-column-count: 1; 
	-moz-column-count: 1; 
	column-count: 1;
	}
}
table, tbody, tr, td {
	border: 1px solid black;
}
tbody {
	tr:nth-child(odd) {
	background-color: #eee;
	}
	tr:nth-child(even) {
	background-color: #fff;
	}
}
