footer {
	height: 400px;
}
footer.entry-footer {
	height: 100px;
}

footer.site-footer {
	background-color: #142837;

	line-height: 1.4em;
	height: auto;
}
div.back-top {
	margin: 0 auto 5.5em;
    padding-top: .5em;
    text-align: center;
    width: 200px;
    a {
	font-family: $font_skinny;
	text-decoration: none;
	color: $color__text-main;
	}
}	
div.footer-content {
	max-width: 1200px;
	margin: auto;
}
div.footer-social-widgets {
	text-align: center;
	a {
	text-decoration: none;
	text-align: center;
	}
}
div.footer-section {
	width: 33%;
	margin: auto;
	display: inline-block;
	vertical-align: top;
	@media (max-width: 850px) {
	width: 100%;
	}
	ul {
	list-style-type:none;
	padding-top: 30px;
	margin-left: 0px;
	padding-left: 0px;
	width: 100%;
	margin: auto;
	}
}

li.blog-posts{
	padding-top: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	padding-bottom: 10px;
	width: 100%;
}
div.footer-post-title {
	display: inline-block;
	width: 70%;
	height: 50px;
	overflow: hidden;

	a 	{

		text-decoration: none;
		line-height: 1.5;
		color: white;
		font-size: 16px;
		}
	a:hover {
		text-decoration: underline;
	}
}
div.footer-post-thumb {
	display: inline-block;
	width: 20%;
	img {
		border-radius: 5px;
		width: auto;
		height: 50px;
		float: right;
	}
}
div.thumb-image{
	display: inline-block;
	width:20%;
	height: 50px;
	background-size : cover;
	background-position: center center;
	float: right;
	min-width: 50px;
	border-radius: 5px;
}
#weblizar_twitter-2 {
	max-width: 500px !important;
	margin: auto;

}
div.social {
	vertical-align: middle;
	ul {
	max-width: 300px;
	margin: auto;
	}
	li {
		display: inline-block;
		padding: 0px 2%;
		width: 15%;
	}
	img{
	width: 100%;
	
	}
}
div.bird-footer {
	width: 80%;
	margin: auto;
	height: 200px;
	background-size: contain !important;
	background-position: center center;
	background-repeat: no-repeat;
	margin-top: 50px;
}
div li.social {

	text-align: center;
}
div.latest-tweets {
	box-sizing: border-box;
	width: 30%;
	padding-top: 30px;
	@media (max-width: 850px) {
	width: 100%;
	padding: 0px 40px;
	}
	h2 {
	display: none;
	}
}
div.site-info {
	text-align: center;
}
div.copyrights {
	background-color: #000000;
	color: white;
	width: 100%;
	margin: 0px;
	text-align: center;
	p {
	width: 30%;
	font-family: $font_skinny;
	font-size: 12px;
	margin: auto;
	}
}