footer {
	height: 400px;
}
footer.entry-footer {
	height: 100px;
}

footer.site-footer {
	background-color: #142837;

	line-height: 1.4em;
	height: auto;
}
div.back-top {
	margin: 0 auto 5.5em;
    padding-top: .5em;
    text-align: center;
    width: 200px;
    a {
	font-family: $font_skinny;
	text-decoration: none;
	color: $color__text-main;
	}
}	
div.footer-content {
	max-width: 1200px;
	margin: auto;
}
div.footer-social-widgets {
	text-align: center;
	a {
	text-decoration: none;
	text-align: center;
	}
}
div.footer-section {
	width: 33.0%;
	@media (max-width: 600px) {
	width: 100%;
	}
	display: inline-block;
	vertical-align: top;
	ul {
	list-style-type:none;
	padding-top: 30px;
	margin-left: 0px;

	}
}
div.blog-posts {
	a 	{
		text-decoration: none;
		line-height: 40px;
		color: white;
		font-size: 16px;
		}
	a:hover {
		text-decoration: underline;
	}
	img {
		width: 40px;
		vertical-align: middle;
		padding-right: 10px;

	}
}
div.social {
	vertical-align: middle;
	li {
		display: inline-block;
		padding: 0px 10px;
	}
	img {
		width: 50px;
		}
	img{
	width: 30px;

	}
}
div li.social {

	text-align: center;
}
div.latest-tweets {
	h2 {
	display: none;
	}
}
div.site-info {
	text-align: center;
}
div.copyrights {
	background-color: #000000;
	color: white;
	width: 100%;
	margin: 0px;
	text-align: center;
	p {
	width: 30%;
	font-family: $font_skinny;
	font-size: 12px;
	margin: auto;
	}
}