footer {
	height: 300px;
}

footer.site-footer {
	background-color: $color_alternate_background;
	line-height: 1.4em;
	height: 200px;
}
div.back-top {
	margin: 0 auto 5.5em;
    padding-top: .5em;
    text-align: center;
    width: 200px;
    a {
	font-family: $font_skinny;
	text-decoration: none;
	color: $color__text-main;
	}
}	
div.footer-social-widgets {
	text-align: center;
	a {
	text-decoration: none;
	text-align: center;
	}
}
div.footer-section {
	width: 30%;
	display: inline-block;
	ul {
	list-style-type:none;
	padding: 30px 10px 0px 0px;
	}
}
div.blog-posts {
	a 	{
		text-decoration: none;
		}
	a:hover {
		text-decoration: underline;
	}
}
div.social {
	li {
		display: inline-block;
		padding: 0px 10px;
	}
	img {
		width: 35px;
		}
	img{
	width: 30px;
	padding: 6px;
	}
}
div.latest-tweets {
	h2 {
	
	}
}
div.site-info {
	text-align: center;
}