input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

div.search input.search-field   
div.search {
width: 250px;
margin: auto;
}
div.search input.search-field {
background: transparent;
border: none;
font-family: playfair-display;
border-bottom: 1px solid #000;
text-align: center;

}