div.portfolio-post {
	width: 300px;
	margin: auto;
	display: inline-block;
	vertical-align: top;
}
h1.title {
	text-align: center;
	margin-bottom: 0px;
	font-size: 4.7em;
	font-weight: bold;
	letter-spacing: -.05em;
	margin: 0px;
	line-height: 1.1em;
	text-align: center;
}
div.line-container {
	width: 221px;
	height: 10px;
	margin: auto;
	margin-bottom: 20px;
	span {
	display: inline-block;
	}
}
span.middle-line {
	width: 10px;
	height: 10px;
	background: #ccc;
	border-radius: 50%;
	vertical-align: middle;
	margin-bottom: -5px;
}
span.left-line, span.right-line {
	height: 5px;
	width: 100px;
	border-bottom: 1px solid #ccc;
}

div.sub-categoires {
		width: 500px;
		margin: auto;
		margin-bottom: 20px;
		text-align: center;
		padding: 10px; 
	a.sub-categories {
		margin-right: 10px;
		background-color: white;
		padding: 5px;
		text-decoration: none;
		border-radius: 5px;
		&:hover {
		background-color: #284F6C;
		color: white;
		}
	}
}

#portfolio-grid[data-columns]::before {
	content: '4 .column.size-1of4';
}

/* These are the classes that are going to be applied: */
.column { 
	float: left;
	padding: 0px 0px;
	/* margin: 1px 1px; */
	&:hover {
	color: #D3D3D3 !important;
	background-color: transparent !important;
	}
}



@media screen and (max-width: 480px){
	#portfolio-grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	#portfolio-grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (min-width: 769px) {
	#portfolio-grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}
@media screen and (min-width: 1000px) {
	#portfolio-grid[data-columns]::before {
		content: '4 .column.size-1of4';
	}
}

/* Again, you’re free to use and define the classes: */
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
.size-1of4 { width: 25%; }

div.portfolio-content {

	/* margin-bottom: 1px; */
	/* margin-top: 1px; */
	height: 400px;
	overflow: hidden;
	text-align: center;
	padding-bottom: 50px;
	transition: 3s all ease;
	&:hover {
	}
	a {
	color: #000;
	}
}

div.portfolio-title {
	height: 400px;
	width: 100%;
	padding: 10px;
	text-align: center;
	color: #fff;
	display: block;
	margin-bottom: -400px;
	margin-top: 0px;
	position: relative;
	z-index: 100;
	transition: 0.2s background ease;
	div.title-txt {
	display: none;
	width: 100%;
	text-align: center;
	height: 50px;
	padding-bottom: 20px;
	}
	&:hover {
	background: rgba(0,0,0,0.6);
	color: #fff;
	margin-bottom: -400px;
	div.title-txt {
		display: block;
		height: 100px;
		padding-top: 150px;
	
	}
	}
}

div.column div {
    padding: 0px;
}

#portfolio-grid {
	margin: auto;
}

span.title-icon {
	img {
	width: 50px;
	height: 50px;
	margin: auto;
	display: block;
	}

}