.archive .content-area{
	padding-top: 80px;
}

div.portfolio-post {
	width: 300px;
	margin: auto;
	display: inline-block;
	vertical-align: top;

}
h1.title {
	text-align: center;
	margin-bottom: 0px;
	font-size: 4.7em;
	font-weight: bold;
	letter-spacing: -.05em;
	margin: 0px;
	line-height: 1.1em;
	text-align: center;
	
}
div.line-container {
	width: 221px;
	height: 10px;
	margin: auto;
	margin-bottom: 40px;
	span {
	display: inline-block;
	}
}
span.middle-line {
	width: 10px;
	height: 10px;
	background: rgba(0, 0, 0, 0);
	border: 1px solid #ccc;
	border-radius: 50%;
	vertical-align: middle;
	margin-bottom: -5px;
}
span.left-line, span.right-line {
	height: 5px;
	width: 100px;
	border-bottom: 1px solid #ccc;
}



div.sub-categoires {
		width: 500px;
		margin: auto;
		margin-bottom: 20px;
		text-align: center;
		padding: 10px; 
	a.sub-categories {
		margin-right: 10px;
		background-color: white;
		padding: 5px;
		text-decoration: none;
		border-radius: 5px;
		&:hover {
		background-color: #284F6C;
		color: white;
		}
	}
}



div.grid-item {
	width: 25%;
}



div.portfolio-content {

	/* margin-bottom: 1px; */
	/* margin-top: 1px; */
	margin: 0px;
	height: 400px;
	border: 1px solid #d6dfe2;
	overflow: hidden;
	text-align: center;
	padding-bottom: 50px;
	transition: 3s all ease;
	&:hover {
	}
	a {
	color: #000;
	}
}

div.portfolio-title {
	height: 400px;
	width: 100%;
	padding: 10px;
	text-align: center;
	color: #fff;
	display: block;
	margin-bottom: -400px;
	margin-top: 0px;
	position: relative;
	z-index: 100;
	transition: 0.2s background ease;
	div.title-txt {
	display: none;
	width: 100%;
	text-align: center;
	height: 50px;
	padding-bottom: 20px;
	}
	&:hover {
	background: rgba(0,0,0,0.6);
	color: #fff;
	margin-bottom: -400px;
	div.title-txt {
		display: block;
		height: 100px;
		padding-top: 150px;
	
	}
	}
}

div.column div {
    padding: 0px;
}

#portfolio-grid {
	margin: auto;
	padding-bottom: 70px;
}

.clear:before,
.clear:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}
.clear:before,
.clear:after {
	clear: both;
}

span.title-icon {
	img {
	width: 50px;
	height: 50px;
	margin: auto;
	display: block;
	}

}

div.sub-categories  {
	width: 100%;
	text-align: center;
	margin: auto;
	margin-bottom: 30px;
	span {

	background-color: #fff;
	padding: 7px;
	
	border-radius: 5px;
	&:hover {
	background-color: #29526F;
	color: white;
	}
	}
}

a.portfolio-button{
	//@extend button.menu-toggle;
	text-decoration: none;
	width: 165px;
	height: 50px;
	padding: 15px;
	color: white;
	font-size: 14px;
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;
	background-color: #ff4100;
	border-radius: 5px;
	transition: background-color 0.5s ease;
	&:hover {
	background-color: #D53F1C;
	}

}