h1, h2, h3, h4, h5, h6 {
	clear: both;
}
h1.site-title {
	font-family: $font__display;
	font-size: 4.200em;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: $color__text-1;
		a {
			text-decoration: none;
				color: black;
		}
}
div.site-branding {
	max-width: 600px;
	margin: auto;
	text-align: center;
}
hr.header-hr {
	background-color: black;
	width : 150px;
}
header {
	padding-bottom: 1em;
}
h2.entry-title {
	text-align: center;
	a {
	color: $color__text-2;
	text-decoration: none;
	}
}
p.site-description {
	font-family: $font_skinny;
}