h1, h2, h3, h4, h5, h6 {
	clear: both;
	text-transform: capitalize;
}
h1.site-title {
	font-family: $font__display;
	font-size: 5.200em;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: $color__light-1;
	margin: 0px;
	padding-top: 80px;
		a {
			text-decoration: none;
			color: white;
		}
}
div.site-branding {
	max-width: 800px;
	margin: auto;
	text-align: center;
}
hr.header-hr {
	background-color: black;
	width : 150px;
}
header {
	padding-bottom: 1em;
}
div.about-container .entry-title {
	display: none;
}
h2.entry-title {
	text-align: center;
	a {
	color: $color__text-2;
	text-decoration: none;
	}
}
p.site-description {
	font-family: $font_skinny;
	font-size: 22px;
	color: $color__light-2;
	margin-top: 0;
	margin-bottom: 2.5em;
}
h1.categoryName {
	text-align: center !important;
	font-family: $font__display;
	font-weight: 400;
}
div.menu li.page_item {
	border: solid 1px rgba(255,255,255,.7);
	border-radius: 2px;
	text-align: center;
	a {
	width: 100%;
	margin: 0 1.5em 0 0;
	padding: 5px;
	}

}
