.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	text-align: center;

	ul {
		width: 90%;
		list-style: none;
		margin: auto;
		padding-left: 0px;


		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}

			}

			a {
				color: white;
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		position: relative;
		display: inline-block;
		padding-right: 0px;
		margin-right: 2%;
		margin-left: 2%;
		margin-bottom: .5em;
		width: 16%;
		min-width: 100px;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		padding: 1em 1em;
		text-decoration: none;
		color: $color__light-1;
		font-style: none;
		font-size: 1.2em;
		padding-bottom: 2em;

	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	display: none;
}



.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

div.menu li.page_item a {
	font-family: $font_skinny;
	font-size: 17px;

}
div.menu li.page_item a:hover {
	color: black;
	background: white;
	-webkit-transition: all .3s; /* Safari */ transition: all .3s;
}